.MenuPage .menu {
  overflow-wrap: break-word;
  font-family: 'Almendra Display';
  font-weight: 1000;
  font-size: 70px;
  color: #000000;
  padding: 32px 69px 80px 469px;}
.MenuPage .container-3 {
  position: relative;
  margin: 0 0 59px 16px;
  display: flex;
  padding: 11px 14.7px 10px 0;
  width: 822px;
  box-sizing: border-box;
}
.MenuPage .rectangle-9 {
  border-radius: 17px;
  background: url('../images/easybyte/im1.jpg') 50% / cover no-repeat;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  width: 361px;
  height: 213px;
}
.MenuPage .container-6 {
  border-radius: 17px;
  background: #FFFFFF;
  position: relative;
  margin-right: 37px;
  display: flex;
  width: 361px;
  height: 213px;
  box-sizing: border-box;
}
.MenuPage .rectangle-1 {
  border-radius: 17px;
  background: url('../images/easybyte/im5.jpg') 50% / cover no-repeat;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  margin-right: 22px;
  width: 361px;
  height: 213px;
}
.MenuPage .rectangle-10 {
  border-radius: 17px;
  background: url('../images/easybyte/im01.jpg') 50% / cover no-repeat;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  width: 361px;
  height: 213px;
}
.MenuPage .container {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  width: 1142px;
  box-sizing: border-box;
}
.MenuPage .bla-bla-bal {
  margin: 8px 13px 0 0;
  width: 436px;
  overflow-wrap: break-word;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.MenuPage .container {
  margin-bottom: 12px;
  overflow-wrap: break-word;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 17px;
  color: #6E6969;
}
.MenuPage .bla-bla-bal-1 {
  margin-top: 8px;
  width: 436px;
  overflow-wrap: break-word;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.MenuPage .container-2 {
  margin-bottom: 12px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 17px;
  color: #6E6969;
}
.MenuPage .bla-bla-bal-3 {
  margin-top: 8px;
  width: 436px;
  overflow-wrap: break-word;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.MenuPage .container-4 {
  margin: 8px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 17px;
  color: #6E6969;
}
.MenuPage .container-1 {
  margin: 0 21.4px 23px 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1093.6px;
  box-sizing: border-box;
}
.MenuPage .rectangle-4 {
  border-radius: 17px;
  background: url('../images/easybyte/im02.jpg') 50% / cover no-repeat;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  margin-right: 37px;
  width: 361px;
  height: 213px;
}
.MenuPage .rectangle-2 {
  border-radius: 17px;
  background: url('../images/easybyte/im3.jpg') 50% / cover no-repeat;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);  margin-right: 22px;
  width: 361px;
  height: 213px;
}
.MenuPage .rectangle-11 {
  border-radius: 17px;
  background: url('../images/easybyte/im03.jpg') 50% / cover no-repeat;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  width: 361px;
  height: 213px;
}
.MenuPage .container-2 {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  width: 1142px;
  box-sizing: border-box;
}
.MenuPage .bla-bla-bal-2 {
  margin: 8px 13px 0 0;
  width: 436px;
  overflow-wrap: break-word;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.MenuPage .container-1 {
  margin: 3px 0 9px 12;
  overflow-wrap: break-word;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 17px;
  color: #6E6969;
}
.MenuPage .bla-bla-bal-4 {
  margin-bottom: 8px;
  overflow-wrap: break-word;
  font-family: 'Inika';
  font-weight: 400;
  width: 436px;
  font-size: 20px;
  color: #000000;
}
.MenuPage .container-3 {
  margin-bottom: 22px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 17px;
  color: #6E6969;
}
.MenuPage .bla-bla-bal-5 {
  margin: 3px 0 5px 0;
  width: 436px;
  overflow-wrap: break-word;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.MenuPage .container-5 {
  margin: 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 17px;
  color: #6E6969;
}
.MenuPage .container-7 {
  margin: 0 25px 33px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1093.6px;
  box-sizing: border-box;
}


.container-88 {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 1093.6px;
    box-sizing: border-box;/* Arrange items horizontally */
}

.menu-list li {
  list-style-type: none;
  display: flex;
  flex-direction: row; /* Adjust spacing between items */
}

.dish{
    margin-right: 10px; /* Adjust spacing between dish and price */
}

.MenuPage .rectangle-7 {
  border-radius: 17px;
  background: url('../images/easybyte/im05.jpg') 50% / cover no-repeat;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  margin-right: 37px;
  width: 361px;
  height: 213px;
}
.MenuPage .rectangle-5 {
  border-radius: 17px;
  background: url('../images/easybyte/im06.jpg') 50% / cover no-repeat;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  margin-right: 22px;
  width: 361px;
  height: 213px;
}
.MenuPage .rectangle-12 {
  border-radius: 17px;
  background: url('../images/easybyte/im07.jpg') 50% / cover no-repeat;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  width: 361px;
  height: 213px;
}
.MenuPage .container-5 {
  margin-bottom: 37px;
  display: flex;
  flex-direction: row;
  width: 1142px;
  box-sizing: border-box;
}
.MenuPage .rectangle-8 {
  border-radius: 17px;
  background: #D9D9D9;
  background: url('../images/easybyte/im08.jpg') 50% / cover no-repeat;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  margin-right: 37px;
  width: 361px;
  height: 213px;
}
.MenuPage .rectangle-6 {
  border-radius: 17px;
  background: #D9D9D9;
  background: url('../images/easybyte/im11.jpg') 50% / cover no-repeat;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  margin-right: 22px;
  width: 361px;
  height: 213px;
}
.MenuPage .rectangle-13 {
  border-radius: 17px;
  background: #D9D9D9;
  background: url('../images/easybyte/im12.jpg') 50% / cover no-repeat;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  width: 361px;
  height: 213px;
}
.MenuPage .container-4 {
  display: flex;
  flex-direction: row;
  width: 1142px;
  box-sizing: border-box;
}
.MenuPage {
  background: #E9D7C6;
  
  align-items: center;
  padding: 32px 69px 20px 53px;
  width: 1280px;
  box-sizing: border-box;
}
